<div class="comments">

<% @comments.each do |comment| %>

<p><strong><%= comment.post.user.name %>&nbsp;said:</strong>
&nbsp;<%= comment.body %></p>

<% if user_signed_in? %>
<% if @post.user == current_user || current_user.admin? %>

<%= link_to 'delete', [comment.post, comment], method: :delete %></p>

<% end %>
<% end %>

<% end %>

<%= link_to "View All #{@all.count} Comments >>", post_comments_path(@post) %> 

</div>