<div class="comments">

<% unless @comments.blank? %>

<% @comments.each do |comment| %>

<p><strong><%= link_to comment.user.name, comment.user %>&nbsp;said:</strong>
&nbsp;<%= comment.body %></p>

<% if user_signed_in? %>
<% if @post.user == current_user || current_user.admin? %>

<%= link_to 'delete', [comment.post, comment], method: :delete %></p>

<% end %>
<% end %>

<% end %>

<%= link_to "View All #{@all.count} Comments >>", post_comments_path(@post) %> 

<% else %>

No Comments

<% end %>

</div>