<div class="row text-center">
<h3>All Comments</h3>

<p><%= link_to '<< Back to Post', post_path(@post) %></p>

<% if @comments.blank? %>

No Comments

<% else %>

<% @comments.each do |comment| %>

<p><strong><%= link_to comment.user.name, comment.user %>:</strong>&nbsp;<%= comment.body %></p>

<% end %>

<% end %>

<p><%= render 'comments/form' %></p>

</div>
