<% if current_user.voted_for?(@post) %>

<p>
	<%= link_to "unlike", unlike_post_path(@post), class: "downvote", method: :put, remote: true %>
</p>

<% else %>

<p>
	<%= link_to "like", like_post_path(@post), class: "upvote", method: :put, remote: true %>
</p>

<% end %>