@import "bootstrap";

h1 a {
	text-decoration: none;
}

h3 {
	font-weight: bold;
	color: #717171;
}

img {
	max-width: 100%;
}

.form-group {
	padding: 10px;
}

.notice {
	padding-top: 50px;
}

.top-margin {
	padding-top: 50px;
}

.navbar-brand {
	font-weight: bold;
	font-size: 20px;
}

.ivote:hover {
	background-color: transparent;
	opacity: 0.75;
}

.minus-top {
	margin-top: -20px;
}

.notice {
	font-weight: bold;
	color: green;
	margin-top: 15px;
	margin-bottom: -50px;
}

.alert {
	font-weight: bold;
	color: red;
	margin-top: 15px;
	margin-bottom: -50px;
}

.box {
	width: 550px;
	background-color: #f1f1f1;
	margin: 0 auto;
	padding: 5px;
	max-width: 100%;
	border: 1px solid #cecece;
}